<nav class="navbar navbar-ligth bg" id="menu">

  <!-- <img src="/assets/IMG/logo.svg" width="80" height="80" class="d-inline-block align-top" alt="">
      Genesis-->
  <ul>
    <img src="/assets/IMG/logo.svg" width="80" height="80" class="logo" alt="">
    <h1 class="text-center">Genesis</h1>
    <div class="btn-group" role="group">
      <!--TODO: Falta organizar el tamaño-->
      <button type="button" class="btn btn  dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="botonc">
        <a class="genero">Genero</a>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Romance</a>
        <a class="dropdown-item" href="#">Misterio</a>
        <a class="dropdown-item" href="#">Terror</a>
      </div>
    </div>
  

  </ul>
  <form class="form-inline my-lg-0 my-s-0">
    <input class="form-control-lg mr-sm-n5" type="search" placeholder="Search" aria-label="Search"> <br>
    <br>
    <img src="/assets/IMG/busqueda.png" height="80" width="80" alt="">

    <button class="login" id="login">
    <a href="/login">Accede
      </button>
    </a>
  </form>
  <img src="/assets/IMG/perfil-del-usuario.png" height="70" width="70"  class="perfil" alt="" border-color="black">
 


</nav>