<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/auth-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <%- include('./partials/boostrap.ejs') %>
        <title>Document</title>
</head>

<body>
    <main class="container">
        <article class="top">
            <header class="img1">
                <img src="/assets/img/auth-user.png">
            </header>
            <section class="texto1">
                Autenticacion para la confirmación del prestamo
            </section>
            <section class="input-group mb-3">
                <input type="text" class="form-control-lg" placeholder="Correo Electronico"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
            </section>
            <section class="input-group mb-3">
                <input type="password" class="form-control-lg" placeholder="Contraseña"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
            </section>
            <button type="button" class="btn" id="boton">Confirmar</button>
        </article>
    </main>
</body>

</html>