<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IngressCloud</title>
    <link rel="stylesheet" href="http://localhost:4000/css/estilos.css">
    <link rel="stylesheet" href="js/IngressCloud.js">
    <script src="https://kit.fontawesome.com/002794e8e8.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, user-scale=no, initial-scale=1.0, minimun-scale=1.0">

</head>
<body>

    <div class="container-all">
    <header class="inicio">
        <div class="container">
            <nav class="links">
            <div class="desplegable">
                <a href="#" class="nav_Items Nav_Items--cta">Contactanos</a>
            <div class="contacto">
                <a href="https://wa.link/mrkp0i">Manuela Rivera</a>
                <a href="https://wa.link/rnw3h5">Carlos Henao</a>
                <a href="https://wa.link/ku0htu">Stiven Ruiz</a>
            </div>
            </div>
            <a onclick="location.href='preguntasFrecuentes' "href="#" class="nav_Items" >Preguntas frecuentes</a>
            </nav>
            <section class="inicio_container">
                <div class="inicio_text">
                    <h1 class="iniciotitulo">Bienvenido a <span>IngressCloud</span></h1>
                    <h2 class="iniciosubtitulo">Una manera más facil de ingresar</h2>
                </div>
            </section>
        </div>
        <div class="inicio_wave" style= "overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: white;"></path></svg>
        </div>
    </header>

    <main>
        <section class="presentacion_container">
            <img src="imagenes/logo-sena.png" alt="IngressCloud_Imagen" class="presentacion_IngressCloud">
            <h2 class="titulo">IngressCloud</h2>
            <p class="descripcion">IngressCloud es una manera más fácil de poder ingresar a cualquiera establecimiento que tenga este sistema por medio de un lector de barras o ingresando de manera manual el número de la cédula donde se almacenaran tus datos y te permitirá ingresar de manera rápida y segura. Esta nueva forma de ingreso disminuirá el tumulto que se puede crear a la entrada y también evitar que terceros con malas intenciones ingresen a este ambiente.
            </p>
        </section>
    </main>

    <section id="servicios">
        <div class="container">
            <h2>Comienza aquí</h2>
            <div class="programas">
                <div class="carta">
                    <i class="fa-solid fa-user-check"></i>
                    <h3>Nuevo Usuario</h3>
                    <div class="pra">
                    <p>Crea un nuevo usuario para quedar almacenado en la base de datos de IngressCloud</p>
                    </div>
                    <a onclick="location.href='/Login/Login' "href="#" class="boton" >Click aquí</a>
                </div>
                <div class="carta">
                    <i class="fa-solid fa-bars"></i>
                    <h3>Historial</h3>
                    <div class="pra">
                    <p>Observa todas las veces que has ingresado a tu sede desde aquí</p>
                </div>
                <a onclick="location.href='historial' "href="#" class="boton" >Click aquí</a>
                </div>  
            
                <div class="carta">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                    <h3>Ingreso / Salida</h3>
                    <div class="pra">
                    <p>Ingresa a tu cuenta desde aquí o salir de esta misma</p>
                </div>
                <div class="desplegable">
                    <a class="boton" href="#">Click aquí</a>
                    <div class="contacto">
                        <a onclick="location.href='/LoginInvitado/LoginInvitado' "href="#">Invitado</a>
                        <a onclick="location.href='/LoginAprendiz/LoginAprendiz' "href="#">Aprendiz</a>
                    </div>
                    </div>
                </div> 
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <h3>IngressCloud</h3>
            <ul class="social">
                <li><a class="fa-brands fa-facebook " href="https://www.facebook.com/SENA/"></a></li>
                <li><a class="fa-brands fa-twitter" href="https://twitter.com/senacomunica?lang=es"></a></li>
                <li><a class="fa-brands fa-instagram" href="https://www.instagram.com/senacomunica/?hl=es"></a></li>
            </ul>
        </div> 
        <div class="footer-boton">
            <p>copyright &copy;2022 IngressCloud. designed by <span>IngressCloud</span></p>
        </div>
    </footer>
    </div>    
    <script>






    </script>


    <script src="https://kit.fontawesome.com/ac801278be.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>