<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="http://localhost:4000/css/historial.css">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="css/estilos.css">
	<title>Preguntas Frecuentes</title>

</head>
<body>
<body>

        <nav class="links">
            <a onclick="location.href='IngressCloud'" href="#" class="nav_Items Nav_Items--cta">Inicio</a>
        </nav>
        <section class="presentacion_container2">
            <h1 class="titulo2">Preguntas Frecuentes IngressCloud</h1>
        </section>
        <div class="preguntas">
            <div class="contenedor-preguntas">
                <div class="contenedor-pregunta">
                    <p class="pregunta">No traje el carnet, ¿qué hago?<img src="imagenes/mas-pre-frec.svg" alt="Abrir Respuesta"</p>
                    <p class="respuesta">Debe presentar su identificación al celador que se encontrará en la entrada del recinto y este mismo digitará el número de su identificación y de esa manera podrá ingresar al establecimiento de manera rápida.</p>
                </div>
                <div class="contenedor-pregunta">
                    <p class="pregunta">¿De qué manera este sistema ayudará al ingreso del ambiente?<img src="imagenes/mas-pre-frec.svg" alt="Abrir Respuesta"</p>
                    <p class="respuesta">Al escanear el código de barras que posee el carnet de cada miembro del establecimiento podrá ingresa de manera eficaz y segura sin la necesidad de esperar demasiado y crear así una aglomeración den la estrada del ambiente.</p>
                </div>
                <div class="contenedor-pregunta">
                    <p class="pregunta">No soy parte del establecimiento, ¿cómo puedo ingresar?<img src="imagenes/mas-pre-frec.svg" alt="Abrir Respuesta"</p>
                    <p class="respuesta">Si una persona externa del ambiente necesita entrar a este mismo tendrá que registrarse por medio de nuestra página web www.IngressCloud.com y quedará siendo parte de la base de datos de IngressCloud.</p>
                </div>
                <div class="contenedor-pregunta">
                    <p class="pregunta">¿Cómo puedo ser parte de la base de datos de IngressCloud?<img src="imagenes/mas-pre-frec.svg" alt="Abrir Respuesta"</p>
                    <p class="respuesta">Para quedar de manera fija en IngressCloud debes ingresar a nuestra página web www.IngressCloud.com y registrarte como una persona que hace parte del establecimiento. Al finalizar el registro quedarás en la base de datos y podrás ingresa de manera rápida con el código de barras que posee tu carne o por medio de tu identificación.</p>
                </div>
                <div class="contenedor-pregunta">
                    <p class="pregunta">¿Qué otras características tiene la página principal de IngressCloud?<img src="imagenes/mas-pre-frec.svg" alt="Abrir Respuesta"</p>
                    <p class="respuesta">Además de registrarte y poder ingresar por medio de tu carne o tu identificación tienes accesibilidad a modificar tus datos cómo tu teléfono, correo,etc. Puedes ver tu historial con fecha y hora exacta de tu ingreso y salida del establecimiento. </p>
                </div>
            </div>
        </div>

    <main>
        
    </main>

    
    <script>
        const preguntas = document.querySelectorAll('.preguntas .contenedor-pregunta');
        preguntas.forEach((pregunta) => {
	    pregunta.addEventListener('click', (e) => {
		e.currentTarget.classList.toggle('activa');

		const respuesta = pregunta.querySelector('.respuesta');
		const alturaRealRespuesta = respuesta.scrollHeight;
		
		if(!respuesta.style.maxHeight){
			respuesta.style.maxHeight = alturaRealRespuesta + 'px';
		} else {
			respuesta.style.maxHeight = null;
		}

		// Reiniciamos las demas preguntas
		preguntas.forEach((elemento) => {
			// Solamente se ejecuta el codigo para las preguntas que no 
			// sean la pregunta a la que le dimos click.
			if(pregunta !== elemento){
				elemento.classList.remove('activa');
				elemento.querySelector('.respuesta').style.maxHeight = null;
			}
		});


	});
});
    </script>

    <script src="https://kit.fontawesome.com/ac801278be.js" crossorigin="anonymous"></script>

</body>
</html>