<div class="flex flex-col w-56 border-r border-gray-800">
    <button class="relative text-sm focus:outline-none group">
        <div
            class="flex items-center justify-between w-full h-16 px-4 border-b border-gray-800 hover:bg-gray-800">
            <span class="font-medium">
                Biblioteca Genesis
            </span>
    </button>
    <div class="flex flex-col flex-grow p-4 overflow-auto">
        <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-800"
            href="/admin/agregar">
            <span class="leading-none">Agregar un nuevo libro</span>
        </a>
        <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-800"
            href="/admin/devolucion">
            <span class="leading-none">Agregar devolucion</span>
        </a>
        <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-800"
            href="/admin/usuarios">
            <span class="leading-none">Usuarios</span>
        </a>
        <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-800"
            href="/admin/libros">
            <span class="leading-none">Libros</span>
        </a>
        <a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-800"
            href="/admin/prestamos">
            <span class="leading-none">Prestamos</span>
        </a>
    </div>

</div>