<!DOCTYPE html  data-theme="dracula>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <title>Login y register</title>
    <!-- link css -->
    <link rel="stylesheet" href="/assets/css/login-styles.css" />
</head>

<body>

    
    <main class="container">
        <form class="form" id="login">
            <h1 class="form__title">Login</h1>
            <section class="form__message form__message--error"></section>
            <article class="form__input-group">
                <input type="email" class="form__input" autofocus placeholder="Username or email" required/>
                <section class="form__input-error-message"></section>
            </article>
            <article class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password" required/>
                <section class="form__input-error-message"></section>
            </article>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a href="/libro/auth" class="form__link">Forgot your password?</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>
        </form>
        <form class="form form--hidden" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <section class="form__message form__message--error"></section>
            <article class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username" required />
                <section class="form__input-error-message"></section>
            </article>
            <article class="form__input-group">
                <input type="email" class="form__input" autofocus placeholder="Email Address"  required/>
                <section class="form__input-error-message"></section>
            </article>
            <article class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Password"  required/>
                <section class="form__input-error-message"></section>
            </article>
            <article class="form__input-group">
                <input type="password" class="form__input" autofocus placeholder="Confirm password" required/>
                <section class="form__input-error-message"></section>
            </article>
            <button class="form__button" type="submit">Continue</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>
    </main>
    
    <!-- script login -->
    <script src="/assets/js/script-login.js"></script>
</body>
</html>